<div class="modal--background"></div>
<div class="modal--content">
  <a href="#" class="close--action" {{action 'closeModal'}}>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 19.7 19.6" enable-background="new 0 0 19.7 19.6" xml:space="preserve" height="24">
      <line id="XMLID_2_" fill="#FFFFFF" stroke="#BDBCBC" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="2.2" y1="17.9" x2="17.8" y2="2.3"/>
      <line id="XMLID_1_" fill="#FFFFFF" stroke="#BDBCBC" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18" y1="17.7" x2="2.4" y2="2.1"/>
      <g id="XMLID_55_">
      </g>
      <g id="XMLID_56_">
      </g>
      <g id="XMLID_57_">
      </g>
      <g id="XMLID_58_">
      </g>
      <g id="XMLID_59_">
      </g>
      <g id="XMLID_60_">
      </g>
    </svg>
  </a>

  {{yield}}
</div>
